<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8"/>
    <title>aa.jquery.contextual</title>
    <link rel="stylesheet" href="aa.jquery.contextual.css" media="screen"/>
    <link rel="stylesheet" href="demo.css" media="screen"/>

    <script type="text/template" id="background-image-template">
    -webkit-linear-gradient(
        left, 
        transparent, 
        transparent <%= width - 1 %>px, 
        cyan <%= width %>px, 
        transparent <%= width %>px, 
        transparent <%= width + hgutter - 1 %>px, 
        cyan <%= width + hgutter %>px
    ), 
    -webkit-linear-gradient(
        top, 
        transparent, 
        transparent <%= height - 1 %>px, 
        cyan <%= height %>px, 
        transparent <%= height %>px, 
        transparent <%= height + vgutter - 1 %>px, 
        cyan <%= height + vgutter %>px
    )
    </script>
</head>

<body>
    <div id="canvas">
        <div id="object">Some Text</div>
    </div>


    <script src="lib/jquery.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="aa.jquery.contextual.js"></script>
    <script src="demo.js"></script>
</body>
</html>
